.main-weather-container {
  display: flex;
  flex-direction: column;
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}

.cloud-image {
  margin-top: 20px;
  width: 140px;
}

.weather-info-footer {
  display: flex;
  flex-direction: row;
}

.temp-footer {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.humidity-footer {
  flex: 1;
  display: flex;
  flex-direction: row;
}
