.sidebar-container {
  box-shadow: 8px 0 12px 5px rgba(0, 0, 0, 0.2);
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
}
