.wrapper {
  background-color: white;
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.title-text-section {
  box-shadow: 0 4px 2px -2px rgb(206, 206, 206);
}

.title-text {
  color: #43affc;
  font-weight: 600;
  font-size: 18px;
  padding: 18px 12px;
  margin-left: 14px;
}
